/******** home-page component ********/
.home main {
    text-align: center;
}
.home main h1 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}
.home main div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}
.home main button {
    width: 175px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
}
@media only screen and (max-width: 550px) {
    .home main div {
        flex-direction: column;
        align-items: stretch;
    }
    .home main button {
        width: auto;
        height: 60px;
        line-height: 60px;
    }
}
