/******** filter-input component ********/
.filtersInput>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Filter */
.filter {
    width: max-content;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px var(--border-color);
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}
.filter select {
    vertical-align: middle;
}

/* Conjugation settings on mobile devices */
@media only screen and (max-width: 700px) {
    .verbSettings .filter {
        width: 100%;
        margin: 10px auto;
    }
    .verbSettings .filter select, .verbSettings .filter button {
        width: 100%;
        height: 35px;
        margin: 3px 0px;
    }
}

/* Vocab settings on mobile devices */
@media only screen and (max-width: 450px) {
    .vocabSettings .filter {
        width: 100%;
        margin: 10px auto;
    }
    .vocabSettings .filter select, .vocabSettings .filter button {
        width: 100%;
        height: 35px;
        margin: 3px 0px;
    }
}



/******** filters-page component ********/
.filtersPage main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.filtersPage main>div {
    margin-bottom: 20px;
}

/* Hide non-quizzer settings & labels */
.filtersPage main .settingsInput .appearanceSettings {
    display: none;
}

/* Start button */
.settingsStart {
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}

/* Mobile devices */
@media only screen and (max-width: 510px) {
    /* Expand settings component*/
    .settingsInput {
        width: 100%;
    }

    /* Expand start button */
    .settingsStart {
        width: 100%;
        font-size: 18px;
        height: 50px;
    }
}
@media only screen and (max-width: 800px) {
    /* Hide settings */
    .filtersPage main .settingsInput, .filtersPage main>h1 {
        display: none;
    }
}
