/******** Variable styles ********/
:root {
    --theme-color: #009bc2;
    --foreground-color: #000000;
    --background-color: #FFFFFF;
    --hover-color: #F0F0F0;
    --border-color: #808080;
}



/******** Default styles ********/
* {
    /* Override default browser padding and margin styles */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



/******** Body ********/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--foreground-color);
    background-color: var(--background-color);
    margin: 0px;
    touch-action: manipulation;
}



/******** Header ********/
header {
    text-align: center;
    background-color: var(--theme-color);
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
header>* {
    cursor: pointer;
}
header button {
    position: absolute;
}
header button:first-child {
    left: 10px;
}
header button:last-child {
    right: 10px;
}
header button img {
    height: 30px;
    width: 30px;
}



/******** Noscript ********/
#jsError {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
#jsError h1 {
    margin-bottom: 5px;
    color: red;
}



/******** Other elements ********/
h1 {
    font-size: 20px;
}
button:not(.icon) {
    font-size: 15px;
}
button:not(.icon), input, select {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--foreground-color);
    border-radius: 0px;
}
button:hover:enabled:not(.icon) {
    cursor: pointer;
    background-color: var(--hover-color);
}
button:disabled {
    background-color:  var(--hover-color);
    color: var(--border-color);
}
button.icon {
    border: none;
    background-color: #00000000;
    color: var(--foreground-color);
    cursor: pointer;
    vertical-align: middle;
}
main button.icon img {
    height: 24px;
    width: 24px;
}



/******** Dark mode ********/
body.dark {
    --foreground-color: #E0E0E0;
    --background-color: #121416;
    --hover-color: #323436;
    --border-color: #505050;
}
.dark button:not(.icon), .dark input, .dark select {
    --background-color: #222426;
}
.dark main button.icon img {
    filter: invert(90%);
}
.dark a {
    color: #0080ff;
}



/******** Mobile devices ********/
@media only screen and (max-width: 800px) {
    h1, h2 {
        font-size: 25px;
    }
    select, input, button:not(.icon) {
        font-size: 16px;
    }
    main button.icon img {
        height: 35px;
        width: 35px;
    }
}
