/******** Variable styles ********/
:root {
    --theme-color: #00aad4;
    --foreground-color: #000000;
    --background-color: #FFFFFF;
    --hover-color: #F0F0F0;
    --border-color: #808080;
}



/******** Default styles ********/
* {
    /* Override default browser padding and margin styles */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



/******** Body ********/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--foreground-color);
    background-color: var(--background-color);
    margin: 0px;
    touch-action: manipulation;
}



/******** Header ********/
header {
    text-align: center;
    background-color: var(--theme-color);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}
header img {
    position: absolute;
    left: 10px;
    height: 30px;
    background-color: var(--theme-color);
}



/******** Noscript ********/
#jsError {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
#jsError h1 {
    margin-bottom: 5px;
    font-size: 20px;
    color: red;
}



/******** Other elements ********/
button:not(.itemRemove), input, select {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--foreground-color);
    border-radius: 0px;
}

button:hover:enabled:not(.itemRemove) {
    cursor: pointer;
    background-color: var(--hover-color);
}

button:disabled {
    background-color:  var(--hover-color);
    color: var(--border-color);
}



/******** Dark mode ********/
body.dark {
    --theme-color: #0088AA;
    --foreground-color: #E0E0E0;
    --background-color: #121416;
    --hover-color: #323436;
    --border-color: #505050;
}
.dark button:not(.itemRemove), .dark input, .dark select {
    --background-color: #222426;
}
.dark a {
    color: #0080ff;
}
