/******** Quizzer styles ********/
/* Container */
#quizzer {
    margin: 10px;
    padding: 10px;
    width: fit-content;
    width: -moz-fit-content;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px var(--border-color);
}

/* Progress */
#quizzerProgress {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}

/* Prompt */
#quizzer section {
    text-align: left;
    margin-bottom: 15px;
}
#quizzerPromptType, #quizzerInputType {
    font-weight: bold;
}
#quizzerPrompt {
    cursor: pointer;
    font-size: 15px;
}

/* Responce*/
#quizzerInput {
    margin-top: 5px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    width: calc(100%); /* forces input onto new line */
}

/* Buttons */
#quizzerButtons button {
    width: 75px;
    height: 25px;
}

/* Feedback */
#quizzerFeedback {
    margin-top: 15px;
}
#quizzerFeedbackTerm {
    text-decoration-line: underline;
    cursor: pointer;
}