/******** quizzer component ********/
.quizzer {
    padding: 10px;
    width: 400px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px var(--border-color);
}

/* Progress */
.quizzerProgress {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Prompt */
.quizzerPrompt {
    margin-bottom: 15px;
}
.quizzerPrompt label, .quizzerInputLabel {
    font-weight: bold;
}
.quizzerPrompt span {
    cursor: pointer;
}

/* Responce*/
.quizzerInput {
    margin-top: 5px;
    margin-bottom: 15px;
    height: 30px;
}
.quizzerInput input {
    height: 100%;
    width: 100%;
    padding: 5px;
}
.quizzerInput div {
    padding: 5px;
    width: 100%;
    height: 100%;
    line-height: 18px;  /* height - padding - border */
    font-size: 14px;
    border: 1px solid #ff0000;
    background-color: var(--background-color);
}
.dark .quizzerInput div {
    background-color: #222426;
}

/* Buttons */
.quizzerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quizzerButtons button {
    width: 85px;
    height: 30px;
}
.quizzerButtons button:first-child {
    margin-right: 10px;
}

/* Feedback */
.quizzerFeedback {
    margin-top: 15px;
    text-align: center;
}
.quizzerFeedbackTerm {
    text-decoration-line: underline;
    cursor: pointer;
}
del {
    color: red;
    text-decoration: none;
}
ins {
    color: green;
    text-decoration: none;
}

/* Congrats message */
.congrats {
    text-align: center;
}
.congrats p {
    margin: 20px;
}
.congrats button {
    width: 100px;
    height: 35px;
}

/* Mobile styles */
@media only screen and (max-width: 800px) {
    .quizzerInput {
        height: 35px;
    }
    .quizzerInput div {
        font-size: 16px;
        line-height: 23px;  /* height - padding - border */
    }
}
@media only screen and (max-width: 500px) {
    .quizzer {
        border: none;
        box-shadow: none;
        width: 100%;
        padding: 0px;
    }
    .quizzerProgress {
        font-size: 20px;
    }
    .quizzerInput {
        height: 35px;
    }
    .quizzerButtons button {
        height: 50px;
        width: 100%;
    }
}



/******** quizzer-page component ********/
.quizzer-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* Mobile styles */
@media only screen and (max-width: 500px) {
    .quizzer-page main {
        align-items: stretch;
    }
}
