/******** reference-tables component styles ********/
/* Controls */
.referenceTableControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 10px;
}
.referenceTableControls input {
    margin-left: 10px;
    padding-left: 3px;
}
@media only screen and (max-width: 500px) {
    .referenceTableControls {
        flex-direction: column;
        align-items: stretch;
    }
    .referenceTableControls * {
        height: 30px;
    }
    .referenceTableControls input {
        margin-left: 0px;
        margin-top: 10px;
    }
}

/* Table */
.referenceTable {
    text-align: left;
    overflow-x: auto;
}
.referenceTable table {
    margin: auto;
}
.referenceTable th {
    background-color: var(--hover-color);
    border: 1px solid var(--border-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.referenceTable td {
    border: 1px solid var(--border-color);
    cursor: pointer;
}

/* Print styles */
@media print {
    body, body.dark {
        --border-color: #000000;
        --foreground-color: #000000;
        --background-color: #FFFFFF;
        --hover-color: #FFFFFF;
    }
    header, .referenceTableControls {
        display: none;
    }
    .referenceTable {
        overflow: visible;
    }
    table {
        border-collapse: collapse;
    }
}
