/******** reference-tables component styles ********/
/* Controls */
.referenceTableControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 10px;
}
.referenceTableControls * {
    height: 25px;
}
.referenceTableControls div {
    margin-left: 10px;
}
.referenceTableControls input {
    margin-right: 10px;
    padding-left: 3px;
}
.referenceTableControls button {
    padding: 0px 10px;
}
@media only screen and (max-width: 500px) {
    .referenceTableControls {
        flex-direction: column;
        align-items: stretch;
    }
    .referenceTableControls * {
        height: 30px;
    }
    .referenceTableControls div {
        display: flex;
        margin-left: 0px;
        margin-top: 10px;
    }
    .referenceTableControls input {
        width: 100%;
    }
}

/* Table */
.referenceTable table {
    width: auto;
    margin: auto;
}
.referenceTable td {
    cursor: pointer;
}

/* Cell colors */
.referenceTable td.normal {
    color: inherit;
}
.referenceTable td.irregular {
    color: hsl(0, 100%, 45%);
}
.referenceTable td.nonregular {
    color: hsl(40, 100%, 45%);
}
.referenceTable td.regular {
    color: hsl(120, 100%, 25%);
}
.dark .referenceTable td.normal {
    color: inherit;
}
.dark .referenceTable td.irregular {
    color: hsl(0, 100%, 55%);
}
.dark .referenceTable td.nonregular {
    color: hsl(40, 100%, 55%);
}
.dark .referenceTable td.regular {
    color: hsl(120, 100%, 35%);
}

/* Print styles */
@media print {
    body, body.dark {
        --border-color: #000000;
        --foreground-color: #000000;
        --background-color: #FFFFFF;
        --hover-color: #FFFFFF;
    }
    header, .referenceTableControls {
        display: none;
    }
    .referenceTable {
        overflow: visible;
    }
    table {
        border-collapse: collapse;
    }
    .referenceTable td {
        color: #000000 !important;
    }
}
