/******** settings-input component ********/
.settingsInput div, .settingsInput h2 {
    text-align: left;
    margin-bottom: 5px;
}
.settingsInput h2 {
    margin-top: 10px;
    font-size: 16px;
}
.settingsInput input[type=number] {
    width: 50px;
}
.settingsInput .defaultFiltersSettings select {
    margin-bottom: 5px;
    margin-right: 5px;
}
@media only screen and (max-width: 600px) {
    .settingsInput .defaultFiltersSettings select  {
        width: 100%;
        height: 35px;
    }
}
.settingsInput .resetSettings {
    margin-top: 10px;
    text-align: center;
}
.settingsInput .resetSettings button {
    padding: 5px 15px;
}
@media only screen and (max-width: 800px) {
    .settingsInput div, .settingsInput h2 {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 500px) {
    .settingsInput .resetSettings button {
        width: 100%;
        height: 50px;
    }
}



/******** settings-page component ********/
.settingsPage main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.settingsPage main h1 {
    text-align: center;
}
