/******** Settings styles ********/
#settings {
    margin: auto;
    text-align: left;
    max-width: 300px;
}



/******** vocab/Verb Settings styles ********/
/* Instructions */
#settings h1 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

/* Headings */
h2 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}
h2 button {
    padding: 2px 5px 2px 5px;
}

/* List item */
.vocabSet, .verbFilter {
    padding-top: 5px;
}

/* Vocab list item parts */
.vocabSetName {
    width: 115px;
}
.vocabSetFilter {
    width: 160px;
}

/* List item remove */
.itemRemove {
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    color: var(--foreground-color);
    background-color: var(--background-color);
}



/******** Settings Button styles ********/
#settingButtons {
    text-align: center;
}
#settingButtons button {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 75px;
    height: 25px;
}
