<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Reference Tables - Spanish-Quizzer</title>
        <meta name="description" content="Look up Spanish vocabulary and conjugations in free and printable reference tables.">
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <link rel="icon" type="image/png" href="images/favicon-32.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/reference.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://unpkg.com/papaparse@5.1.1/papaparse.min.js"></script>
        <script src="js/global.js"></script>
        <script src="js/reference.js"></script>
    </head>

    <body onload="Load()" onresize="setTableHeight()">
        <div id="app">
            <header onclick="window.location='./'">Spanish-Quizzer</header>
        
            <main>
                <noscript>
                    <div id="jsError">
                        <h1>You must have JavaScript enabled to run Spanish-Quizzer.</h1>
                        <p>Spanish-Quizzer uses JavaScript to load vocab, apply filters, and check your answers.</p>
                        <p>You can still view the <a href="vocab/">vocab sets</a>, but you can't use the Quizzer or the Reference Tables.</p>
                    </div>
                </noscript>
    
                <h1 hidden>Reference Tables</h1>
    
                <div id="controls" hidden>
                    <select aria-label="Vocab Set" v-model="set">
                        <option>Choose a vocab set</option>
                        <optgroup label="Common Words">
                            <option>Adjectives</option>
                            <option>Adverbs</option>
                            <option>Prepositions</option>
                            <option>Transitions</option>
                            <option>Verbs</option>
                        </optgroup>
                        <optgroup label="Basic Words">
                            <option>Colors</option>
                            <option>Days</option>
                            <option>Months</option>
                            <option>Questions</option>
                        </optgroup>
                        <optgroup label="Advanced Words">
                            <option>Childhood</option>
                            <option>Clothes</option>
                            <option>Family</option>
                            <option>Health</option>
                            <option>House</option>
                            <option>Nature</option>
                            <option>Professions</option>
                            <option>Vacation</option>
                            <option>Weather</option>
                        </optgroup>
                    </select>
                    <input type="text" aria-label="Search" v-model="query" placeholder="Search"
                        autocomplete="off" autocorrect="off">
                </div>
                
                <div id="referenceTable" hidden>
                    <table>
                        <tr v-for="(row, rowIndex) in sets[set]" v-show="rowIndex === 0 || row.join(',').toLowerCase().includes(query.toLowerCase())">
                            <th v-if="rowIndex === 0" v-for="column in row">{{ column }}</th>
                            <td v-if="rowIndex !== 0" v-for="(column, columnIndex) in row" @click="Read(column, sets[set][0][columnIndex])" :lang="getLang(sets[set][0][columnIndex])">{{ column }}</td>
                        </tr>
                    </table>
                </div>
            </main>
    
            <footer hidden>
                <div id="share" hidden>
                    <a href="mailto:?Subject=Spanish-Quizzer&amp;Body=https://ashermorgan.github.io/Spanish-Quizzer/Reference">Email</a>&nbsp;
                    <a rel="noopener" href="http://www.facebook.com/sharer.php?u=https://ashermorgan.github.io/Spanish-Quizzer/Reference" target="_blank">Facebook</a>&nbsp;
                    <a rel="noopener" href="https://twitter.com/share?url=https://ashermorgan.github.io/Spanish-Quizzer/Reference&amp;text=Spanish-Quizzer" target="_blank">Twitter</a>&nbsp;
                    <a rel="noopener" href="http://reddit.com/submit?url=https://ashermorgan.github.io/Spanish-Quizzer/Reference&amp;title=Spanish-Quizzer" target="_blank">Reddit</a>&nbsp;
                    <a id="shareSMS" href="sms:&body=https://ashermorgan.github.io/Spanish-Quizzer/Reference" hidden>SMS</a>&nbsp;
                </div>
                <a href="./">Home</a>&nbsp;
                <a href="javascript:document.getElementById('share').hidden = false; void 0;">Share</a>&nbsp;
            </footer>
        </div>
    </body>
</html>