/******** Body styles ********/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



/******** Settings styles ********/
#settingsTable {
    margin: auto;
    text-align: left;
}


.settingsFilter {
    width: 136px;
}


#settingsStart {
    width: 75px;
}



/******** Label styles ********/
#title {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}


.label {
    font-weight: bold;
}


.text {
    font-weight: normal;
}


.error {
	color: red;
}



/******** Dark mode styles ********/
body.dark {
    background-color: #101010;
    color: #f0f0f0;
}


.dark button, .dark input, .dark select {
    background-color: #303030;
    color: #ffffff;
    border-color: #ffffff;
    border-width: 1px;
}