/******** Body styles ********/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
}



/******** Settings styles ********/
#settingsTable {
    margin: auto;
    text-align: left;
}


.settingsFilter {
    width: 136px;
}


#settingsStart {
    width: 75px;
}



/******** Label styles ********/
#title {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}


.label {
    font-weight: bold;
}


.text {
    font-weight: normal;
}


.error {
	color: red;
}



/******** Control styles ********/
button, input, select {
    background-color: #FFFFFF;
    border: 1px solid #808080;
    color: #000000;
}


button:hover:enabled {
    cursor: pointer;
    background-color: #F0F0F0;
}


button:disabled {
    background-color: #F0F0F0;
    color: #808080;
}



/******** Dark mode styles ********/
body.dark {
    background-color: #000000;
    color: #E0E0E0;
}


.dark button, .dark input, .dark select {
    background-color: #303030;
    color: #FFFFFF;
}


.dark button:hover:enabled {
    cursor: pointer;
    background-color: #404040;
}


.dark button:disabled {
    background-color: #404040;
    color: #808080;
}