/******** Body styles ********/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



/******** Settings styles ********/
#settingsTable {
    margin: auto;
    text-align: left;
}


.settingsFilter {
    width: 136px;
}


#settingsStart {
    width: 75px;
}



/******** Label styles ********/
#title {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}


.label {
    font-weight: bold;
}


.text {
    font-weight: normal;
}


.error {
	color: red;
}