/* Header */
#home h3 {
    margin-bottom: 10px;
}

/* Vocab & Conjugation buttons*/
#home button {
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    font-size: 15px;
}

/* Link to Reference Tables */
#home #referenceLink {
    margin-top: 10px;
}
