/******** Quizzer styles ********/
#quizzerPrompt.audio {
    cursor: pointer;
}

#quizzerButtons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.quizzerButton {
    width: 75px;
    height: 25px;
}