/******** Reference Table styles ********/
h1 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    font-weight: normal;
}

#controls {
    margin-bottom: 15px;
}

#referenceTable {
    margin: auto;
    text-align: left;
    overflow-x: auto;
    max-width: fit-content;
}

#referenceTable th {
    border: 1px solid var(--border-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--hover-color);
}

#referenceTable td {
    border: 1px solid var(--border-color);
    cursor: pointer;
}



/******** Print styles ********/
@media print {
    body, body.dark {
        --border-color: #000000;
        --foreground-color: #000000;
        --background-color: #FFFFFF;
        --hover-color: #FFFFFF;
    }

    #title, #referenceFilter, #referenceSet, .footer, label, br {
        display: none;
    }
    
    #referenceTable {
        overflow: visible;
    }

    table {
        border-collapse: collapse;
    }
}