/******** Reference Table styles ********/
/* Heading */
h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;
}

/* Controls */
#controls {
    margin-bottom: 15px;
}

/* Table */
#referenceTable {
    margin: auto;
    text-align: left;
    overflow-x: auto;
    max-width: fit-content;
    max-width: -moz-fit-content;
}
#referenceTable th {
    border: 1px solid var(--border-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--hover-color);
}
#referenceTable td {
    border: 1px solid var(--border-color);
    cursor: pointer;
}



/******** Print styles ********/
@media print {
    body, body.dark {
        --border-color: #000000;
        --foreground-color: #000000;
        --background-color: #FFFFFF;
        --hover-color: #FFFFFF;
    }

    header, h3, #referenceFilter, #referenceSet, footer, label, br {
        display: none;
    }
    
    #referenceTable {
        overflow: visible;
    }

    table {
        border-collapse: collapse;
    }
}