/******** Settings styles ********/
#settings {
    margin: auto;
    text-align: left;
    max-width: 300px;
}



/******** Vocab/Verb Settings styles ********/
/* Instructions */
.centered {
    text-align: center;
}

/* Heading */
h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}
h3 button {
    padding: 2px 5px 2px 5px;
}

/* List item */
.vocabSet, .verbFilter {
    padding-top: 5px;
}

/* Vocab list item parts */
.vocabSetName {
    width: 115px;
}
.vocabSetFilter {
    width: 160px;
}

/* List item remove */
.itemRemove {
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    color: var(--foreground-color);
    background-color: var(--background-color);
}



/******** Settings Button styles ********/
#settingsStart, #settingsResume {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 75px;
    height: 25px;
}
