/******** Settings styles ********/
#settings {
    margin: auto;
    text-align: left;
    max-width: 300px;
    width: available;
}

h3 {
    margin-bottom: 5px;
}

.centered {
    text-align: center;
}

#settingsSets {
    overflow-x: auto;
    white-space: nowrap;
}

.settingsSet {
    padding-top: 5px;
}

.settingsSetName {
    width: 115px;
}

.settingsSetFilter {
    width: 160px;
}

.settingsSetRemove, .dark .settingsSetRemove {
    cursor: pointer;
    color: var(--foreground-color);
}

#settingsStart, #settingsResume {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 75px;
    height: 25px;
}